bcrypt==3.2.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
Click==8.0.1
configobj==5.0.6
dpath==2.0.1
Flask==2.0.1
gevent==21.1.2
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
parse-it==3.7.0
ply==3.11
pycparser==2.20
pyhcl==0.4.4
python-dotenv==0.17.1
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
six==1.16.0
toml==0.10.2
urllib3==1.26.5
Werkzeug==2.0.1
xmltodict==0.12.0
