bcrypt==3.2.0
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
Click==8.0.3
configobj==5.0.6
dpath==2.0.5
Flask==2.0.2
gevent==21.8.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
parse-it==2021.10.11.15.14
ply==3.11
pycparser==2.20
pyhcl==0.4.4
python-dotenv==0.19.1
PyYAML==5.4.1
redis==3.5.3
requests==2.26.0
six==1.16.0
toml==0.10.2
urllib3==1.26.7
Werkzeug==2.0.2
xmltodict==0.12.0
